<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>log in </h1>
<div class="container">
    <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required></br></br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required></br></br>
        <button type="submit">log in </button>
    </form>

</div>
</body>
</html>